*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:Poppins,sans-serif;

background:#090B1A;

color:white;

overflow-x:hidden;

}

section{

width:100%;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:60px 20px;

position:relative;

}

.hidden{

display:none;

}