#cakeSection{

background:#0c1026;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.cake{

margin-top:50px;

}

.candles{

display:flex;

justify-content:center;

gap:25px;

margin-bottom:10px;

}

.candle{

font-size:55px;

cursor:pointer;

transition:.4s;

}

.cake-body{

width:320px;

height:180px;

border-radius:25px;

background:

linear-gradient(#ff7bb9,#ff5fa2);

}

.hidden{

display:none;

}