#giftSection{

background:
linear-gradient(180deg,#100d25,#090b1a);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.gift-box{

position:relative;

width:220px;

height:220px;

cursor:pointer;

margin:50px 0;

}

.gift-body{

width:220px;

height:170px;

background:#ff5ea2;

border-radius:18px;

position:absolute;

bottom:0;

}

.gift-lid{

position:absolute;

width:230px;

height:55px;

background:#ff79b8;

border-radius:15px;

top:0;

left:-5px;

transition:.8s;

transform-origin:left;

}

.gift-ribbon-vertical{

position:absolute;

left:102px;

width:16px;

height:220px;

background:white;

}

.gift-ribbon-horizontal{

position:absolute;

top:45px;

width:220px;

height:16px;

background:white;

}

.openGift .gift-lid{

transform:

rotate(-25deg)

translate(-35px,-40px);

}

#finalMessage{

max-width:700px;

line-height:34px;

animation:fadeUp 1s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}